
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
  --blue: #455f65;
}

body {
    background-color: #000000;
}

.header {
    padding: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #000000;
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
    color: var(--blue);
}


.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

.header div ul {
    list-style-type: none;
}

.header div ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #E93479;
    text-decoration: underline;
}
  
  /* visited link */
  a:visited {
    color: #F9AC53;
  }
  
  /* mouse over link */
  a:hover {
    color: #94167F;
  }
  
  /* selected link */
  a:active {
    color: #94167F;
  }

p {
    font-size: 16px;
    color: white;
}

h2 {
    display: inline-block;
    font-size: 30px;
    color: var(--blue);
}


.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.hero {
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
    display: inline-flex;
    flex-direction: column;
}

.content {
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
}

/* create our main grid with flexbox, use negative margins to offset the padding on the .card-column class */
.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: -2rem;
    margin-right: -2rem;
  }
  
  
  /* using a mobile-first approach, set base column width to be 100% and we'll update it using media queries for larger screen sizes */
  .card-column {
    flex: 1 0 100%;
    padding: 1.5rem;
    /* when the screen resizes, make it so our columns don't jump in size */
    transition: flex-basis 500ms linear;
    margin-bottom: 1.5rem;
  }

  .card-body {
    margin-left: 30px;
  }
  
  /* make each code card a flexbox column to align and justify content within it */
  .code-card {
    display: flex;
    justify-content: space-between;
    min-height: 100%;
    padding: 2rem;
    color: var(--heliotrope);
  
    /* outline is like border, but on the outside of the box instead of inside */
    outline: 2px dashed var(--gin);
    outline-offset: -2px;
    transition: all 0.5s ease-in-out;
  }
  
  .code-card .card-header {
    /* use position and negative margins to move title of card over the card's outline and create an overlap effect */
    position: relative;
    margin: -1rem 0 1.5rem 0;
    padding: 0.5rem 1rem;
    background-color: var(--outer-space);
    color: var(--blue);
    border: 2px solid var(--gin);
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
  }
  
  /* set an outer and inner drop shadow on the card to create a glowing effect on hover */
  .code-card:hover,
  .code-card:hover .card-header {
    box-shadow: inset 0px 0px 8px var(--heliotrope), 0 0 15px var(--heliotrope);
  }
  
  /* each card's code block grows to the height of the largest code block on the page, making each card even in height */
  .code-card .code-block {
    flex-grow: 1;
  }
  
  /* on <pre> click, select all contents so the code is highlighted */
  .code-card pre:active {
    user-select: all;
  }

.footer {
    padding: 30px;
    clear: both;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    background-color: #000000;
    color: #ffffff;
}

.footer h2 {
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}